body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#description {
  border-radius: 0%;
  margin: 15px 15px 15px 15px;
  width: 90%;
  font-size: 2em;
  text-align: center;
}

button {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 2em;
  border: solid black;
  background-color: #696969;
  border-radius: 10%;
}

#inputs {
  background-color: #4469ad;
  text-align: center;
}

#todo_list {
  text-align: center;
  margin: auto;
  font-size: 2em;
}

li {
  margin-top: 30px;
}

.done_button {
  margin: 0px 20px 0px 0px;
  font-size: 1em;
  float: right;
}
